<header class="py-5  ">
	<div class="container px-lg-5 " >
		<div class=" row" style="background: whitesmoke; ">
			<img class="pic ml-5 col" src="./assets/togeth-H1-Y.jpeg" alt="header-img" style="width: 100px; height: 350px; object-fit: cover; "  >
			<div class="col py-lg-5">
				<h1 class="text-center " style="font-family: monotype-corsiva; font-style: italic; "  ><strong>World's #1 Online Platform</strong> </h1>
				<!-- <h1 class="text-center " style="font-family: monotype-corsiva; font-style: italic; "  ><strong>Online Platform </strong></h1> -->
				<h2 class="text-center " style="font-family: monotype-corsiva; font-style: italic; " >Learning Together</h2>
				<h4 class="text-center " style="font-family: monotype-corsiva; font-style: italic; " >Teaching Together</h4>
				<h6 class="text-center  py-lg-3" style="font-family:harrinton ; font-style: italic;  " >This is meant for skill developement of an individual ( including all the  available online platforms related to coding background )....Skills for your present (and your future). Get started with us...</h6>
			</div>
		</div>
	</div>
</header>
