<footer class="py-5 bg-dark">
	<div class="container">
		<a href="#" class="text-white text-decoration-none fixed-bottom"><small>© 2022 LEARNING TOGETHER, All Rights Reserved</small></a>
		<div class="row">
			<ul class=" container col">
				<li> <a href="#!" class="text-white text-decoration-none m-4"><b>Follow Us!</b></a> </li>
				<div class=" container row">
					<div class="col-2"> 
						<img class="img-circle m-2" src="./assets/twitter-f1.png" alt="twitter" style="width: 20px; height: 20px; ">
						<!-- <img class="img-circle" src="./assets/insta-f2.png" alt="twitter" style="width: 30px; height: 30px; "> -->
						<!-- <div class="col"> -->
							<!-- <img class="img-circle" src="./assets/fb-f3.png" alt="twitter" style="width: 20px; height: 20px; "> -->
						<!-- <img class="img-circle" src="./assets/utube-f4.png" alt="twitter" style="width: 20px; height: 20px; "> -->
						<!-- </div> -->
						<!-- <div class="col"> -->
							<img class="img-circle m-2" src="./assets/telegram-f5.png" alt="twitter" style="width: 20px; height: 20px; ">
						<img class="img-circle m-2" src="./assets/linkedin-f6.png" alt="twitter" style="width: 20px; height: 20px; ">
						<!-- </div> -->
					</div> 
					<div class="col-2 text-white">
						<a href="#" class="text-white text-decoration-none"><small>About Us</small></a><pre></pre>
						<a href="#" class="text-white text-decoration-none"><small>Contact Us</small></a><pre></pre>
						<a href="#" class="text-white text-decoration-none"><small>Get The App</small></a>
					</div>
					<div class="col-2 text-white">
						<a href="#" class="text-white text-decoration-none"><small>Careers</small></a><pre></pre>
						<a href="#" class="text-white text-decoration-none"><small>Blog</small></a><pre></pre>
						<a href="#" class="text-white text-decoration-none"><small>Help and Support</small></a>
					</div>
					<div class="col-4 text-white">
						<a href="#" class="text-white text-decoration-none"><small>Terms&Conditions</small></a><pre></pre>
						<a href="#" class="text-white text-decoration-none"><small>Privacy and Policy</small></a><pre></pre>
						<a href="#" class="text-white text-decoration-none"><small>Cookie Settings</small></a>
					</div>
					<div class="col-2 text-white">
						<button  href="#" class="text-white text-decoration-none bg-primary"><small>LIVE CHAT</small></button><pre></pre>
					</div>
				</div>
			</ul>
		</div>
	</div>
</footer>