<section class="p-5" >
    <div class="container body  px-5">
        <div class="row ">
            <div class="col-4  py-5 px-5 ">
                <div class="card bg-light" style="width: 18rem; ">
                    <div class="card-body px-5 ">
                        <img  src="./assets/btstrp-nptel-c1.png" alt="card1-img" style="width: 200px; height: 150px;  " >
                    </div>
                    <div class="container">
                    <!-- <button type="button" class="btn btn-primary btn-sm px-2 py-0 float-end  "><small>study</small> <span class="badge"></span></button> -->
                    <p class="px-3" style="font-family: lucida calligraphy italic;"><strong>NPTEL</strong></p>
                    <p  class="px-3" style="font-family: lucida calligraphy italic;">National Programme on Technology Enhanced Learning (NPTEL) is a project of MHRD initiated by 7 IITs along with the IISc, Bangalore ...</p>
                    <button class="btn btn-success btn-sm m-3" href="#" type="button">GO</button>
                    </div>
                </div>
            </div>


            <div class="col-4 py-5 px-5 ">
                <div class="card bg-light" style="width: 18rem;">
                    <div class="card-body px-5 ">
                        <img src="./assets/btstrp-udemy-c2.png" alt="card2-img" style="width: 200px; height: 150px;  " >
                    </div>
                    <div class="container">
                        <!-- <button type="button" class="btn btn-primary btn-small px-2 py-0 float-end  "><small>study</small> <span class="badge"></span></button> -->
                        <p class="px-3" style="font-family: lucida calligraphy italic;"><strong>UDEMY</strong></p>
                        <p class="px-3" style="font-family: lucida calligraphy italic;">Udemy is a leading destination for online courses that empowers you to grow professionally and personally. Get the app to explore ..</p>
                        <button class="btn btn-success btn-sm m-3" href="#" type="button">GO</button>
                    </div>
                </div>
            </div>


            <div class="col-4 py-5 px-5 ">
                <div class="card bg-light" style="width: 18rem;">
                    <div class="card-body px-5 ">
                        <img src="./assets/btstrp-sl-c3.png" alt="card3-img" style="width: 200px; height: 150px; ">
                    </div>
                    <div class="container">
                        <p class="px-3" style="font-family: lucida calligraphy italic;"><strong>SIMPLI LEARN</strong></p>
                        <p class="px-3" style="font-family: lucida calligraphy italic;">Simplilearn is the popular online Bootcamp & online courses. A commitment to developing and delivering best-in-class training to a ...</p>
                        <button class="btn btn-success btn-sm m-3" href="#" type="button">GO</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container m-6">
        <div style="text-align: center;">
            TO EXPLORE....<button class="btn btn-primary btn-sm m-3" href="#" type="button" style="width: 50px; height: 30px; " >More</button> 
        </div>  
    </div>
</section>