<nav class="navbar navbar-light navbar-expand-sm bg-dark ">
	<!-- <div class="container border"> -->
			<a class="navbar-brand ps-5 text-white"> 📚 Learning Together </a>
	<!-- </div> -->
	<div class="container ">
		<ul class="navbar-nav "  >
			<li class="nav-item"><a class="nav-link text-white" href="#">| </a></li>
			<li class="nav-item"><a class="nav-link text-white" href="#">🏠 Home </a></li>
			<li class="nav-item"><a class="nav-link text-white" href="#">| </a></li>
			<li class="nav-item"><a class="nav-link text-white" href="#">About Us </a></li>
			<li class="nav-item"><a class="nav-link text-white" href="#">| </a></li>
			<li class="nav-item"><a class="nav-link text-white" href="#">My Resources </a></li>
			<li class="nav-item"><a class="nav-link text-white" href="#">| </a></li>
			<li class="nav-item" ><a class="nav-link text-white float-end" href="#">SignUp/Login</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="#">| </a></li>
		</ul>
		<form class="d-flex">
			<input type="text" name="search" class="form-control pr-auto m-2 " placeholder="Search" style="border-radius: 20px; width: 150px; height: 30px;">
			<button type="button" class="btn btn-default text-white bg-default border btn-sm me-5 m-2" style="height: 30px;">Search</button>
			<div class="dropdown">
  			<button class="btn btn-primary dropdown-toggle m-2" type="button" data-toggle="dropdown">
  			<img src="./assets/btstrp-navbar-picon.jpg" class="img-circle" alt="nav-img" style="width: 20px; height: 20px;">
  			<span class="caret"></span></button>
  			<ul class="dropdown-menu">
    			<li><a href="#">HTML</a></li>
    			<li><a href="#">CSS</a></li>
    			<li><a href="#">JavaScript</a></li>
  			</ul>
			</div>
		</form>
	</div>
</nav> 



<!-- <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div> -->


 <!-- <div class="dropdown bg-white">
				<button class=" btn btn-sm btn-primary dropdown-toggle" type="button"  data-toggle="dropdown" ><img src="./assets/btstrp-navbar-picon.jpg" class="img-circle" alt="nav-img" style="width: 20px; height: 20px;"> <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li class="dropdown-item"><a href="#">html</a></li>
					<li class="dropdown-item"><a href="#">css</a></li>
					<li class="dropdown-item"><a href="#">udemy</a></li>
				</ul>
			</div> -->